
.GridWrap
{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;

}

.border
{
    box-sizing: border-box;
    border: 2px solid aquamarine;
}

.PageHeader {
    grid-row-start: 1 ;   
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10%;
  }


.PageHeaderText
{
    color: whitesmoke;
    margin: 10%;
}

.navBarOne
{
    grid-row: 1 ;   
    grid-column: 4;
}

.navBarTwo
{
    grid-row: 1 ;   
    grid-column: 5;
}

.navBarThree
{
    grid-row: 1 ;   
    grid-column: 6;
}

.navBarBorderBox
{
    box-sizing: border-box;
    border: 2px solid aquamarine;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 16;
}


.hyperLinkButton{
    background-color: #242424;
    border-radius: 1px;
    font-size: 16px;
    border: 2px solid aquamarine;
}
