
.GridWrap
{
    display: grid;
    grid-template-areas: 
    "a a a"
    "b c c"
    "b c c";
    gap: 10px;
    padding: 10px;

}

.GridWrap > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }



.PageHeader {
    grid-area: a;
    box-sizing: border-box;
    align-self: stretch;
    border: 2px solid aquamarine;
  }


.PageHeaderText
{
    color: whitesmoke;
    margin: 10%;
}

.test
{
    grid-area: b;
}


